body{background:linear-gradient(white,black);
position:absolute;left:1px;
background: repeating-linear-gradient(rgb(99, 169, 234),  rgb(232, 98, 203));background: repeating-linear-gradient(rgb(99, 169, 234),  rgb(232, 98,203));
.senbul{ position: absolute;
    border: 3px solid black;
    background-color:(pink;